// -------------------- Clash Display
@font-face {
  font-family: 'Clash Display';
  src: url('fonts/clash_display/ClashDisplay-Variable.woff2') format('woff2'),
  url('fonts/clash_display/ClashDisplay-Variable.woff') format('woff'),
  url('fonts/clash_display/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Clash Display';
  src: url('fonts/clash_display/ClashDisplay-Extralight.woff2') format('woff2'),
  url('fonts/clash_display/ClashDisplay-Extralight.woff') format('woff'),
  url('fonts/clash_display/ClashDisplay-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Clash Display';
  src: url('fonts/clash_display/ClashDisplay-Light.woff2') format('woff2'),
  url('fonts/clash_display/ClashDisplay-Light.woff') format('woff'),
  url('fonts/clash_display/ClashDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Clash Display';
  src: url('fonts/clash_display/ClashDisplay-Regular.woff2') format('woff2'),
  url('fonts/clash_display/ClashDisplay-Regular.woff') format('woff'),
  url('fonts/clash_display/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Clash Display';
  src: url('fonts/clash_display/ClashDisplay-Medium.woff2') format('woff2'),
  url('fonts/clash_display/ClashDisplay-Medium.woff') format('woff'),
  url('fonts/clash_display/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Clash Display';
  src: url('fonts/clash_display/ClashDisplay-Semibold.woff2') format('woff2'),
  url('fonts/clash_display/ClashDisplay-Semibold.woff') format('woff'),
  url('fonts/clash_display/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Clash Display';
  src: url('fonts/clash_display/ClashDisplay-Bold.woff2') format('woff2'),
  url('fonts/clash_display/ClashDisplay-Bold.woff') format('woff'),
  url('fonts/clash_display/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


// -------------------- inter

@font-face {
  font-family: 'Inter';
  src:  url('fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('fonts/inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('fonts/inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('fonts/inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('fonts/inter/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}